<a href="https://colab.research.google.com/github/abhilamichhane657/Programming-/blob/main/ASSIGNMENT_(1)_PYTHON_FOR_DATA_SCIENCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#QUESTION NO.1 SOLUTION

In [1]:
Name  = input("Enter Your Name : ")

Enter Your Name : Abhi

In [2]:
Age   = input("Enter Your Age : ")

Enter Your Age : 22

In [4]:
print(f"My name is {Name} and I'm {Age} years old.")

My name is Abhi and I'm 22 years old.

In [5]:
#QUESTION NO.2 SOLUTION

In [10]:
fruit = "apples"

In [7]:
quantity = int(input("Enter the value: "))

Enter the value: 10

In [13]:
print(f"I have {quantity} {fruit}.")

I have 10 apples.

In [14]:
#QUESTION NO.3 SOLUTION

In [17]:
day = int(input("Enter a day : "))

Enter a day : 11

In [18]:
month = int(input("Enter a month : "))

Enter a month : 09

In [19]:
year = int(input("Enter a year : "))

Enter a year : 2023

In [22]:
print(f"Today Date is {day}-{month}-{year}")

Today Date is 11-9-2023

In [23]:
#QUESTION NO.4 SOLUTION

In [26]:
community = "Python developers"

In [27]:
population = 20000

In [29]:
print(f"There are {population} Python developers.")

There are 20000 Python developers.

In [30]:
#QUESTION NO.5 SOLUTION

In [31]:
price = int(input("Enter a price: "))
item = int(input("Enter the Number of items : "))

Enter a price: 5000
Enter the Number of items : 5

In [36]:
print(f"{item} items costs {price} dollars.")

5 items costs 5000 dollars.

In [34]:
#QUESTION NO.6 SOLUTION

In [37]:
first_Name = input("Enter your first Name : ")
last_Name = input("Enter your last Name : ")

Enter your first Name : Abhi
Enter your last Name : Lamichhane

In [39]:
print(f"{last_Name}, {first_Name}")

Lamichhane, Abhi

In [40]:
#QUESTION NO.7 SOLUTION

In [41]:
length = 5
width = 10

In [43]:
print(f"The area of the rectangle is {length*width}")

The area of the rectangle is 50

In [44]:
#QUESTION NO.8 SOLUTION

In [47]:
pi = 3.14159
print(f"Pi to two decimal places is {round(pi,2)}")

Pi to two decimal places is 3.14

In [48]:
#QUESTION NO.9 SOLUTION

In [51]:
pi = 3.14159
radius = float(input("Enter the radius of a circle : "))

Enter the radius of a circle : 5.89

In [53]:
print(f"Circumference of a circle is {2*pi*radius}")

Circumference of a circle is 37.0079302

In [54]:
#QUESTION NO.10 SOLUTION

In [55]:
print(f"10 times 5 equals to {10*5}.")

10 times 5 equals to 50.